<footer class="footer">
  <small>
    Twitterio by Adam Rohde
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas",   about_path %></li>
      <li><%= link_to "Kontact", contact_path %></li>
    </ul>
  </nav>
</footer>
